<!DOCTYPE html>
<html>
<head>
    <title>Marketing Tracker</title>
     <script src="https://use.fontawesome.com/7fa3cf30ae.js"></script>

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Materialize CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!--Materialize Javascript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</head>
<body>
    <header>
          <nav>
            <div class="nav-wrapper">
              <a href="#" class="brand-logo center">MarketingTracker</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
              </ul>
            </div>
          </nav>
    </header>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <div>
        <button id="checkInBtn" class="btn btn-large">Check In</button>
        <form id="checkinoptions">
        </form>
    </div>


    {{{body}}}


    <script type="text/javascript" src="assets/js/googleApi.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj7XdOzV55JxV5BBEVg0EZbTXv-Aw3ktk&libraries=visualization&callback=initMap">
    </script>
    <script type="text/javascript" src="assets/js/checkin.js"></script>
</body>
</html>